/*
* Name 
* Due date 
* project Name and description
*/

/* the universal selector */

*{

}

/* Body Attributes here */

body {
background-color:yellow;
    color:black;
    font-family: gerorga;
}
a:hover {
    color:mediumpurple
        text-decoration: underline
}